<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

<title>Enter new password</title>

{% block page_content %}
<h1>Set a new password!</h1>
{% for message in messages %}
  <div class="alert alert-danger alert-dismissible text-center alert-area hide alert-message" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></a>
      {% if 'safe' in message.tags %}
          {{ message|safe }}
      {% else %}
          {{ message }}
      {% endif %}
  </div>
{% endfor %}
<form method="POST">
  {% csrf_token %}
  <table>
    {% for field in form.visible_fields %}
      <tr>
        <th style="text-align:right">{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td>
        <button type="submit">Change Password</button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}