{% extends "base.html" %}
{% block page_content %}
    <h2>Edit Users</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible text-center alert-area hide alert-message" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></a>
                {% if 'safe' in message.tags %}
                    {{ message|safe }}
                {% else %}
                    {{ message }}
                {% endif %}
            </div>
        {% endfor %}
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <th style="text-align:right">{{ field.label_tag }}</th>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                        {{ field.help_text }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>
                    {% if request.path == '/accounts/edit_user' %}
                        <button type="submit">Search</button>
                    {% else %}
                        <button type="submit">Update</button>
                    {% endif %}
                </td>
            </tr>
        </table>
    </form>
    {% comment %} <script>
    $(document).ready(function() {
        $('.has-popover').popover({'trigger':'hover'});
    });
    </script> {% endcomment %}
    {% load static %}
    <script src="{% static 'js/my.js' %}"></script>
{% endblock %}
