{% extends 'base.html' %}
{% block page_content %}
    {% load render_table from django_tables2 %}
    <html>
        <head>
            <title>All Tickets</title>
        </head>
        <body>
            {% for message in messages %}
            <div class="container">
                <div class="alert alert-success alert-dismissible text-center" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% render_table table %}
        </body>
    </html>
{% endblock %}